#spawnscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#spawnscreenCenter {
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
}

#nameInput {
    /*padding: 10px;*/
}

#header {
    font-size: 96px;
    color: var(--main-color);
    text-shadow: var(--main-color) 0 0 6px;
    user-select: none;
}

#gameLogo {
    animation: logoRotate 8s linear 0s infinite;
}

#gameLogo * {
    fill: var(--main-color);
}

#logoRing {
    fill: none;
    stroke: var(--main-color);
}

#logoCenter {
    transform-origin: 50% 50%;
    animation: logoCenterPulse 4s ease-in-out 1s infinite;
}

@keyframes logoRotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes logoCenterPulse {
    0%   { transform: scale(1, 1); }
    50%  { transform: scale(0.62, 0.62); }
    100%  { transform: scale(1, 1); }
}

#social {
    position: absolute;
    top: 100vh;
    right: 8px;
    transform: translateY(calc(-100% - 12px));
    display: flex;
}

#social > a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
}

#social > a:not(:last-child) {
    margin-right: 8px;
}

#social i {
    font-size: 2.5em;
    display: block;
}

#social span {
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#youtubeButton:hover {
    color: #ff0000;
}

#redditButton:hover {
    color: #ff5700;
}

#discordButton:hover {
    color: #7289da;
}